* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  color: #dedede
}

@font-face {
  font-family: 'Bree';
  src: url(fonts/BreeSerif-Regular.ttf);
}

.section-1 {
  background-color: #1F2937;
  height: 350px;
}

.logo {
  margin-left: 80px;
  margin-top: 10px;
}

.section-1-right-links {
  display: flex;
  gap: 40px;
  list-style: none;
  margin: 15px;
  margin-right: 80px;
  font-family: 'Bree';
}

.section-1-content {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  flex-wrap: wrap;
  margin-left: 80px;
  margin-top: 20px;
}

.section-1-content-left {
  width: 350px;
  margin-bottom: 50px;
  flex-shrink: 0;
}

.title {
  font-family: 'Bree';
  font-size: 48px;
  line-height: 40px;
  font-weight: lighter;
}

.content-under-title {
  font-family: 'Bree';
  font-size: 18px;
  margin: 10px;
  margin-left: 0px;
}

button {
  color: white;
  margin-top: 5px;
  background-color: #3882F6;
  padding: 5px 20px;
  border-radius: 5px;
  border: 0px;
  transition-duration: 0.4s;
  font-weight: bold;
}

.image-placeholder {
  width: 300px;
  height: 150px;
  flex-shrink: 0;
  margin-right: 100px;
}

.section-1-content-image {
  border-radius: 25px;
}

.button1:hover {
  background-color:darkslategrey;
  color: white;
}

nav {
  display: flex;
  justify-content: space-between;
}

a:link {
  text-decoration: none;
}

/* Section 2 */

.section-2 {
  height: 340px;
  display: flex;
  flex-direction: column;
}

.section-2-header {
  height: 90px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.section-2-title {
  color: black;
  font-size: 24px;
  font-family: 'Bree';
}

.section-2-boxes {
  height: 200px;
  display: flex;
  justify-content: space-around;
  padding-left: 120px;
  padding-right: 120px;;
}

.section-2-image-placeholder {
  height: 175px;
  width: 110px;
  display: flex;
  flex-direction: column;
}

.sec-2-image {
  height: 120px;
  border-radius: 5px;
  border: 5px solid #555;
  background-color: #000;
}

.sec-2-info {
  color: black;
  font-size: 15px;
  text-align: center;
}

/* Section-3 */

.sec-3 {
  background-color: #E5E7EB;
  height: 320px;
}

.sec-3-content {
  background-color:#1F2937;
  height: 200px;

}