* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  color: #dedede
}

.logo {
  margin-left: 50px;
  margin-top: 10px;
}

.section-1 {
  background-color: #13253b;
  height: 350px;
}

.section-1-content {
  display: flex;
  justify-content: space-evenly;
}

.section-1-content-left {
  width: 200px;
}

nav {
  display: flex;
  justify-content: space-between;
}

.section-1-left-links {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 15px;
}

a:link {
  text-decoration: none;
}