* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  color: #dedede
}

.logo {
  margin-left: 50px;
  margin-top: 10px;
}

.section-1 {
  background-color: #13253b;
  height: 350px;
}

.section-1-content {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}

.section-1-content-left {
  width: 300px;
}

.title {
  font-size:xx-large;
  font-weight: bolder;
}

.content-under-title {
  font-size: small;
}

button {
  color:black;
  margin-top: 5px;
  background-color: #008CBA;
  padding: 5px;
  border-radius: 5px;
  border: 0px;
  transition-duration: 0.4s;
}

.button1:hover {
  background-color:cornflowerblue;
  color: white;
}

nav {
  display: flex;
  justify-content: space-between;
}

.section-1-right-links {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 15px;
}

a:link {
  text-decoration: none;
}